.theme-toggle {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

body[data-theme="dark"] .theme-toggle {
  background-color: #121212;
  color: white;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.theme-toggle:hover {
  transform: rotate(30deg);
}

@media (max-width: 767px) {
  .theme-toggle {
    width: 40px;
    height: 40px;
    right: 10px;
    top: 10px;
  }
} 