.chatbot-icon {
    font-size: 30px;
    color: rgb(67, 67, 228);
    animation: rotate 2s infinite linear;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }