.header {
    background: #151515 url("./assets/images/intro-bg.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .header .text-container {
    z-index: 10;
  }
  
  .header .roles {
    font-family: "lora-regular", serif;
  }
  
  .header .social {
    bottom: 50px;
  }
  
  .about-img {
    width: 200px;
  }
  
  .project-img {
      width: 100%; 
      height: auto; /* Automatically adjust height to maintain aspect ratio */
      max-height: 250px; /* Cap the height for larger screens */
      object-fit: cover;
      border-radius: 15px;
  }
  
  .project:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
  }
  
  .services {
    background: url("./assets/images/bg.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .services::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .services .container {
    z-index: 10;
  }
  .education-logo {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
  
  @media (max-width: 767px) {
      .project-img {
          max-height: 200px;
      }
    .header .social i {
      font-size: 30px;
    }
    .header .roles {
      font-size: 18px !important;
    }
    .about-content {
      flex-direction: column;
    }
    .stats .stat {
      border-right: 0 !important;
      margin-bottom: 40px;
      border-bottom: var(--bs-dark) solid 1px;
      padding-bottom: 20px;
    }
  }
  
  .carousel-inner .row {
      display: flex;
      justify-content: center;
  }
  .project img {
      width: 100%;
      height: auto;
  }
  
  