
<app-header></app-header>
<!-- About -->
<section id="about" class="about bg-light py-5">
  <div class="container">
    <div class="text-center">
      <h4 class="text-uppercase fw-bold text-primary">About Me</h4>
      <hr class="w-25 mx-auto" />
      <h2 class="mb-4">Let me introduce myself.</h2>
    </div>
    <div class="about-content d-flex gap-5 align-items-center h-100">
      <img
        src="../../assets/images/ibrahim.png"
        alt=""
        class="about-img img-fluid rounded-circle"
      />
      <p class="lead">
        I'm a web developer with extensive experience and a passion for
        computers. I learned to code from a very young age in various computer
        languages and technologies (JavaScript, PHP, Java, Symfony, Angular,
        Spring Boot, etc.) and created personal projects. I master the technical
        steps of creating a website or web application, from understanding user
        needs to frontend and backend development, and maintenance. I am
        currently expanding my expertise to include DevOps practices, focusing
        on CI/CD pipelines, containerization (Docker), infrastructure as code
        (Terraform/Ansible), and cloud platforms (AWS/Azure/GCP). My goal is to
        bridge the gap between development and operations, ensuring seamless
        deployment and scalable architectures.
      </p>
    </div>
  </div>
</section>

<!-- Profile & Skills -->
<section class="profile my-6">
  <div class="container">
    <div class="row">
      <!-- Profile Column -->
      <div class="col-md-6">
        <h3 class="text-uppercase fw-bold text-primary">Profile</h3>
        <p>
          Here is some more info about myself to help you get to know me better.
        </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item mb-3">
            <h5 class="text-transform">
              <i class="fas fa-user text-primary"></i> Full Name:
            </h5>
            <p>Ibrahim El Othmani</p>
          </li>
          <li class="list-group-item mb-3">
            <h5 class="text-transform">
              <i class="fas fa-building text-primary"></i> Current Position:
            </h5>
            <p>Nabeul, Tunisia</p>
          </li>
          <li class="list-group-item mb-3">
            <h5 class="text-transform">
              <i class="fas fa-envelope text-primary"></i> Email:
            </h5>
            <p>
              <a href="mailto:ibrahimelothmanii&#64;gmail.com"
                >ibrahimelothmanii&#64;gmail.com</a
              >
            </p>
          </li>
        </ul>
      </div>

      <!-- Skills Section -->
      <div class="col-md-6">
        <h3 class="text-uppercase fw-bold text-primary">Skills</h3>
        <div class="row text-center">
          <!-- Software Skills -->
          <div
            class="software-skills-main-div d-flex flex-wrap justify-content-center"
          >
            <div class="software-skill-inline text-center m-3" name="java">
              <i class="fab fa-java" style="font-size: 3rem"></i>
              <p>Java</p>
            </div>
            <div class="software-skill-inline text-center m-3" name="java">
              <i class="fab fa-python" style="font-size: 3rem"></i>
              <p>Python</p>
            </div>
            <div class="software-skill-inline text-center m-3" name="php">
              <i class="fab fa-php" style="font-size: 3rem"></i>
              <p>Php</p>
            </div>
            <div
              class="software-skill-inline text-center m-3"
              name="javascript"
            >
              <i class="fab fa-js" style="font-size: 3rem"></i>
              <p>JavaScript</p>
            </div>
            <div class="software-skill-inline text-center m-3" name="angular">
              <i class="fab fa-angular" style="font-size: 3rem"></i>
              <p>Angular</p>
            </div>
            <div class="software-skill-inline text-center m-3" name="angular">
              <i class="fab fa-react" style="font-size: 3rem"></i>
              <p>React</p>
            </div>
            <div class="software-skill-inline text-center m-3" name="symfony">
              <i class="fab fa-symfony" style="font-size: 3rem"></i>
              <p>Symfony</p>
            </div>
            <div class="software-skill-inline text-center m-3" name="spring">
              <i class="fas fa-code" style="font-size: 3rem"></i>
              <p>Spring</p>
            </div>
            <div class="software-skill-inline text-center m-3" name="mysql">
              <i class="fas fa-database" style="font-size: 3rem"></i>
              <p>MySQL</p>
            </div>
            <div
              class="software-skill-inline text-center m-3"
              name="postgresql"
            >
              <i class="fas fa-database" style="font-size: 3rem"></i>
              <p>PostgreSQL</p>
            </div>
            <div class="software-skill-inline text-center m-3" name="mongodb">
              <i class="fas fa-database" style="font-size: 3rem"></i>
              <p>MongoDB</p>
            </div>
            <div class="software-skill-inline text-center m-3" name="html5">
              <i class="fab fa-html5" style="font-size: 3rem"></i>
              <p>HTML5</p>
            </div>
            <div class="software-skill-inline text-center m-3" name="css3">
              <i class="fab fa-css3-alt" style="font-size: 3rem"></i>
              <p>CSS3</p>
            </div>
            <div class="software-skill-inline text-center m-3" name="wordpress">
              <i class="fab fa-wordpress" style="font-size: 3rem"></i>
              <p>WordPress</p>
            </div>
            <div class="software-skill-inline text-center m-3" name="docker">
              <i class="fab fa-docker" style="font-size: 3rem"></i>
              <p>Docker</p>
            </div>
            <div class="software-skill-inline text-center m-3" name="jenkins">
              <i class="fab fa-jenkins" style="font-size: 3rem"></i>
              <p>Jenkins</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Buttons Section -->
      <div class="row mt-5 text-center">
        <div class="col-12">
          <a
            href="#"
            class="btn btn-outline-dark btn-lg text-uppercase px-5 mx-3 my-2"
            >Hire Me Now</a
          >
          <a
            href="../../assets/pdf/ibrahim.pdf"
            class="btn btn-dark btn-lg text-uppercase px-5 mx-3 my-2"
            >Download CV</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Education Section -->
<section class="portfolio py-5 bg-light">
  <div class="container">
    <div class="text-center mb-5">
      <h4 class="text-uppercase fw-bold text-primary">Education</h4>
      <hr class="w-25 mx-auto" />
    </div>
    <div class="row">
      <!-- Education Item 1 -->
      <div class="col-12 col-md-6 mb-4">
        <div
          class="d-flex align-items-center gap-5 gap-md-4 align-items-center h-100"
        >
          <div data-lightbox="images" data-title="Web Development Certificate">
            <img
              src="../../assets/img/2i Formation.jpg"
              alt="2i Formation Logo"
              class="education-logo"
            />
          </div>
          <div>
            <h5 class="fw-bold mb-1">2i Formation</h5>
            <p class="mb-0 text-muted">Web Application Development</p>
          </div>
        </div>
      </div>
      <!-- Education Item 2 -->
      <div class="col-12 col-md-6 mb-4">
        <div
          class="d-flex align-items-center gap-5 gap-md-4 align-items-center h-100"
        >
          <div data-lightbox="images" data-title="Engineering Fundamentals">
            <img
              src="../../assets/img/isetN.jpg"
              alt="ISET Nabeul Logo"
              class="education-logo"
            />
          </div>
          <div>
            <h5 class="fw-bold mb-1">
              Higher Institute of Technological Studies of Nabeul
            </h5>
            <p class="mb-0 text-muted">National Diploma in Civil Engineering</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Certificates Section -->
<section class="portfolio py-5 bg-light">
  <div class="container">
    <div class="text-center mb-5">
      <h4 class="text-uppercase fw-bold text-primary">Certificates</h4>
      <hr class="w-25 mx-auto" />
      <h2 class="mb-4">Check Out Some Of My Certificates</h2>
    </div>

    <!-- Carousel for certificates -->
    <div
      id="certificatesCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <!-- First Slide -->
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="project shadow-lg rounded-5 text-center">
                <a
                  href="../../assets/images/Full Certificate of Web Development.png"
                  data-lightbox="images"
                  data-title="Web Development Certificate"
                >
                  <img
                    src="../../assets/images/Full Certificate of Web Development.png"
                    alt="Web Development Certificate"
                    class="img-fluid rounded-3"
                  />
                </a>
                <!-- Certificate Link -->
                <a
                  href="https://coursera.org/share/84ec367376b06e9ed6f545fa604e706a"
                  target="_blank"
                  class="btn btn-primary mt-3"
                  >View Certificate</a
                >
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="project shadow-lg rounded-5 text-center">
                <a
                  href="../../assets/images/Fundamental for engineering.png"
                  data-lightbox="images"
                  data-title="Engineering Fundamentals"
                >
                  <img
                    src="../../assets/images/Fundamental for engineering.png"
                    alt="Engineering Fundamentals"
                    class="img-fluid rounded-3"
                  />
                </a>
                <!-- Certificate Link -->
                <a
                  href="https://coursera.org/share/6dddbfb63e244fc239bc194d51048e65"
                  target="_blank"
                  class="btn btn-primary mt-3"
                  >View Certificate</a
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Second Slide -->
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="project shadow-lg rounded-5 text-center">
                <a
                  href="../../assets/images/HTML, CSS and JavaScript.png"
                  data-lightbox="images"
                  data-title="HTML, CSS and JavaScript"
                >
                  <img
                    src="../../assets/images/HTML, CSS and JavaScript.png"
                    alt="HTML, CSS and JavaScript"
                    class="img-fluid rounded-3"
                  />
                </a>
                <!-- Certificate Link -->
                <a
                  href="https://coursera.org/share/af54b65a48474b988a206fe71c2db67c"
                  target="_blank"
                  class="btn btn-primary mt-3"
                  >View Certificate</a
                >
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="project shadow-lg rounded-5 text-center">
                <a
                  href="../../assets/images/JavaScript.png"
                  data-lightbox="images"
                  data-title="JavaScript Certificate"
                >
                  <img
                    src="../../assets/images/JavaScript.png"
                    alt="JavaScript Certificate"
                    class="img-fluid rounded-3"
                  />
                </a>
                <!-- Certificate Link -->
                <a
                  href="https://coursera.org/share/f086abdd293d558cb1e06331abcfdcc8"
                  target="_blank"
                  class="btn btn-primary mt-3"
                  >View Certificate</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Carousel controls -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#certificatesCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#certificatesCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<!-- Experiences Section -->
<section class="portfolio py-5 bg-light">
  <div id="experience">
    <div class="container">
      <div class="experience-container">
        <div class="text-center mb-5">
          <h3 class="text-uppercase fw-bold text-primary">Experiences</h3>
          <hr class="w-25 mx-auto" />
        </div>
        <div class="experience-cards-div">
          <!-- Experience Card 1 -->
          <div class="experience-card">
            <div
              class="experience-banner"
              style="background: rgb(249, 249, 249)"
            >
              <div class="experience-blurred_div"></div>
              <div class="experience-div-company">
                <h5 class="experience-text-company">IBH Ibn alhaythem</h5>
              </div>
              <img class="experience-roundedimg" src="../../assets/exp/ibh.png" alt="IBH" />
            </div>
            <div class="experience-text-details">
              <hr />
              <h5 class="experience-text-date">August 2024 – October 2024</h5>
              <h5>Freelance Full Stack Developer Angular/Spring Boot</h5>
              <hr />
              <div class="content">
                <p>
                  Developed a platform using Spring Boot for the backend and
                  Angular for the frontend.
                </p>
                <p>
                  Designed and implemented RESTful APIs to facilitate
                  communication between the client and server.
                </p>
                <p>
                  Created a responsive user interface that improved user
                  experience and engagement.
                </p>
                <p>
                  Collaborated with team members to gather requirements and
                  iterated on features based on feedback.
                </p>
              </div>
            </div>
          </div>

          <!-- Experience Card 2 -->
          <div class="experience-card">
            <div
              class="experience-banner"
              style="background: rgb(249, 249, 249)"
            >
              <div class="experience-blurred_div"></div>
              <div class="experience-div-company">
                <h5 class="experience-text-company">Upwork</h5>
              </div>
              <img
                class="experience-roundedimg"
                src="../../assets/exp/upwork.jpg"
                alt="Upwork"
              />
            </div>
            <div class="experience-text-details">
              <hr />
              <h5 class="experience-text-date">April 2024 – July 2024</h5>
              <h5>Freelance Back-End Developer</h5>
              <hr />
              <div class="content">
                <p>
                  Designed and implemented REST APIs for enterprise solutions.
                </p>
                <p>Optimized database queries to improve performance.</p>
                <p>
                  Collaborated with cross-functional teams for Agile
                  development.
                </p>
              </div>
            </div>
          </div>

          <!-- Experience Card 3 -->
          <div class="experience-card">
            <div
              class="experience-banner"
              style="background: rgb(249, 249, 249)"
            >
              <div class="experience-blurred_div"></div>
              <div class="experience-div-company">
                <h5 class="experience-text-company">2i Formation</h5>
              </div>
              <img
                class="experience-roundedimg"
                src="../../assets/img/2i Formation.jpg"
                alt="2i Formation"
              />
            </div>
            <div class="experience-text-details">
              <hr />
              <h5 class="experience-text-date">January 2024 – March 2024</h5>
              <h5>Internship Web Developer</h5>
              <hr />
              <div class="content">
                <p>
                  Developed and maintained web applications using Angular and
                  Symfony.
                </p>
                <p>
                  Improved system scalability by optimizing existing APIs and
                  database queries.
                </p>
                <p>Conducted code reviews and mentored junior developers.</p>
                <p>
                  Participated in Agile ceremonies and contributed to sprint
                  planning and retrospectives.
                </p>
              </div>
            </div>
          </div>

          <!-- Experience Card 4 -->
          <div class="experience-card">
            <div
              class="experience-banner"
              style="background: rgb(249, 249, 249)"
            >
              <div class="experience-blurred_div"></div>
              <div class="experience-div-company">
                <h5 class="experience-text-company">The Good Web</h5>
              </div>
              <img
                class="experience-roundedimg"
                src="../../assets/exp/TheGoodWeb.png"
                alt="2i Formation"
              />
            </div>
            <div class="experience-text-details">
              <hr />
              <h5 class="experience-text-date">February 2023 – January 2024</h5>
              <h5>Web Developer</h5>
              <hr />
              <div class="content">
                <p>
                  Contribution to the development of the office management
                  software package.
                </p>
                <p>
                  Management of incoming and outgoing internal and external
                  mail/documents.
                </p>
                <p>
                  Use of technologies such as Angular, Spring Boot, MySQL,
                  Keycloak, LDAP, Eureka, API Gateway, Nginx, and Scrum
                  methodology.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio -->
<section class="portfolio py-5 bg-light">
  <div class="container">
    <div class="text-center mb-5">
      <h4 class="text-uppercase fw-bold text-primary">Portfolio</h4>
      <hr class="w-25 mx-auto" />
      <h2 class="mb-4">Check Out My Work</h2>
      <p class="lead">Here is a small sample of my projects.</p>
    </div>
    <div class="row">
      <!-- Project 1 -->
      <div class="col-md-6 mb-4">
        <div class="project shadow-lg rounded-5 position-relative">
          <a
            href="../../assets/img/drugstore.png"
            data-lightbox="images"
            data-title="Drugstore App"
          >
            <img
              src="../../assets/images/drugstore.png"
              alt="Drugstore Project"
              class="img-fluid rounded-3 project-img"
            />
          </a>
          <div class="position-absolute bottom-0 start-0 p-3">
            <a
              href="https://github.com/ibrahimelothmani/SportsStore"
              target="_blank"
              class="btn btn-primary btn-sm"
            >
              View Source Code
            </a>
          </div>
        </div>
      </div>

      <!-- Project 2 -->
      <div class="col-md-6 mb-4">
        <div class="project shadow-lg rounded-5 position-relative">
          <a
            href="../../assets/img/weather.png"
            data-lightbox="images"
            data-title="Weather App"
          >
            <img
              src="../../assets/images/weather.png"
              alt="Weather Project"
              class="img-fluid rounded-3 project-img"
            />
          </a>
          <div class="position-absolute bottom-0 start-0 p-3">
            <a
              href="https://github.com/ibrahimelothmani?tab=repositories"
              target="_blank"
              class="btn btn-primary btn-sm"
            >
              View Source Code
            </a>
          </div>
        </div>
      </div>

      <!-- Project 3 -->
      <div class="col-md-6 mb-4">
        <div class="project shadow-lg rounded-5 position-relative">
          <a
            href="../../assets/img/Laptop.png"
            data-lightbox="images"
            data-title="Laptop Store"
          >
            <img
              src="../../assets/images/Laptop.png"
              alt="Laptop Store Project"
              class="img-fluid rounded-3 project-img"
            />
          </a>
          <div class="position-absolute bottom-0 start-0 p-3">
            <a
              href="https://github.com/ibrahimelothmani/Library"
              target="_blank"
              class="btn btn-primary btn-sm"
            >
              View Source Code
            </a>
          </div>
        </div>
      </div>

      <!-- Project 4 -->
      <div class="col-md-6 mb-4">
        <div class="project shadow-lg rounded-5 position-relative">
          <a
            href="../../assets/img/vera.png"
            data-lightbox="images"
            data-title="Vera E-commerce"
          >
            <img
              src="../../assets/images/vera.png"
              alt="Vera Project"
              class="img-fluid rounded-3 project-img"
            />
          </a>
          <div class="position-absolute bottom-0 start-0 p-3">
            <a
              href="https://github.com/ibrahimelothmani/ERP-System"
              target="_blank"
              class="btn btn-primary btn-sm"
            >
              View Source Code
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
<section class="services text-bg-dark py-5 position-relative">
  <div class="container position-relative">
    <div class="text-center mb-5">
      <h4 class="text-uppercase fw-bold text-primary">Services</h4>
      <hr class="w-25 mx-auto" />
      <h2 class="mb-4">What Can I Do For You?</h2>
      <p class="lead">
        Here are some of the services that I offer when it comes to web
        development and business.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <i class="fas fa-globe fa-3x text-primary mb-3"></i>
        <h3 class="fs-3">Web Design</h3>
        <hr class="w-25 mx-auto" />
      </div>

      <div class="col-md-6 text-center">
        <i class="fas fa-code fa-3x text-primary mb-3"></i>
        <h3 class="fs-3">Web Development</h3>
        <hr class="w-25 mx-auto" />
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section class="contact text-bg-dark bg-gradient py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="text-center mb-5">
          <h4 class="text-uppercase fw-bold text-primary">Contact</h4>
          <hr class="w-25 mx-auto" />
          <h2 class="mb-4">I'd love to hear from you.</h2>
          <p class="lead">
            If you have any questions or would like to work together, please
            contact me with the form below.
          </p>
        </div>

        <!-- Form -->
        <form (ngSubmit)="submitContactForm()">
          <div class="mb-5">
            <input
              type="text"
              class="form-control border-top-0 border-start-0 border-end-0 rounded-1 border-muted"
              name="name"
              placeholder="Name"
              [(ngModel)]="contact.name"
              required
            />
          </div>
          <div class="mb-5">
            <input
              type="email"
              class="form-control border-top-0 border-start-0 border-end-0 rounded-1 border-muted"
              name="email"
              placeholder="Email"
              [(ngModel)]="contact.email"
              required
            />
          </div>
          <div class="mb-5">
            <textarea
              class="form-control border-top-0 border-start-0 border-end-0 rounded-1 border-muted"
              name="message"
              placeholder="Message"
              [(ngModel)]="contact.message"
              required
            ></textarea>
          </div>
          <div class="mb-5 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
        
      </div>
    </div>
    <!-- Footer -->
    <div class="d-flex mt-5">
      <p class="flex-grow-1">Copyright &copy; 2024</p>
      <div class="hstack gap-1">
        <a class="text-decoration-none" href="#">
          <i class="fa-solid fa-arrow-up-long text-white"></i>
        </a>
      </div>
    </div>
  </div>
</section>
