
.education-logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

   #experience {
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .experience-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .experience-cards-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .experience-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .experience-banner {
    position: relative;
    height: 150px;
  }
  
  .experience-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .experience-text-details {
    padding: 15px;
  }
  
  .experience-text-role {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .experience-text-date {
    color: #888;
    margin-bottom: 10px;
  }
  
  .subTitle {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .content p {
    text-align: left;
    margin-bottom: 10px; /* Adjust spacing between paragraphs */
    line-height: 1.6; /* Improve readability */
}

